@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
    @*<h1>Lexikon LMS</h1>*@
    @*<p class="lead">Learning management system används av elever och lärare för att se respektive administrera innehållet.</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
@*</div>*@

@*<h1>@ViewBag.Message</h1>*@

<div class="container">
        
    
    <div class="row">

        <div class="col-md-4">
            <div class="box1">
                <h2>Välkommen till Lexicon LMS</h2>
                <p>
                    Learning management system är ett system som på ett säkert och enkelt sätt
                    kunna underlätta det dagliga arbetet för både lärare och elever.
                    LRM används av flest användare i Sverige och har visat sig vara den ledande LRM systemet i Sverige och i norden.
                    Målet i våran verksamhet är kundnöjdhet, är du glad är vi gladare.
                </p>
               
            </div>
        </div>
        <div class="col-md-8">
            <div class="box2">
                <img src="~/Bilder/37836325-Learning-Management-System-LMS-word-cloud-business-concept-Stock-Photo.jpg" width="600" />
            </div>

        </div>

    </div>
</div>
