body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*huvundmeny
.main-header {
    padding: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 58px;
    font-family: beamweapon;
    text-align: center;
    color: #4cff00;
    background-color: darkblue;
    margin-bottom: 1px;
    border-bottom: 5px solid grey;
    border-top: 5px solid grey;
    background-image: url('../Images/chi-dk5883-disney-cars-garage-metal-black-wallpaper-0.jpg');
    background-image: url('../Images/3067193_230736-2-jual-plat-bordes-stainless-steel-dan-alumunium.jpg');
   
}*/


    /*Box1 = Textrutan förstasidan*/ 
.box1 {
    padding: 30px 30px 30px 30px;
    /*margin: 100px 10px 10px 10px;*/
    margin-top: 100px;
    background-color: gray;
    color: white;
    border-radius: 3px;
    height: 332px;
}

   /*Box2 = Bilden på förstasidan*/ 
.box2 {
    /*padding: 20px 20px 20px 20px;*/
    /*margin: 100px 10px 10px 10px;*/
    margin-top: 100px;
    border-radius: 3px;
 
}

/*.box3 {
    padding: 20px 20px 20px 20px;
    background-color: red;
    color: white;
}*/

.footerbox{
    /*background-color: darkgrey;*/
    width: 100%;
    height: 50px;
    /*color: grey;*/
    position: fixed;  
}


body.events .myLink,
body.about .myLink {
   display:none;
}
body.programs .myLink {
   display:inline;
}
